.decision .list, .section.work.work .list, .team-list, .partners .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.work.work .title, .team-title, .partners .title {
  margin-top: 0px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.button {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  fill: #ffffff;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .link-social, .footer .link-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin-700.woff") format("woff"), url("../fonts/raleway-v18-latin-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  margin: 0;
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  background-color: #ffffff;
}

.page-header.border {
  border-bottom: 1px solid #ececec;
}

.page-header {
  position: relative;
}

.main-nav-button {
  margin-left: auto;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-nav-button {
    display: none;
  }
}

.main-nav-button .icon-cross {
  display: none;
}

.main-nav-button.is-open .icon-cross {
  display: block;
}

.main-nav-button.is-open .icon-hamburger {
  display: none;
}

.main-nav-button:hover, .main-nav-button:focus {
  fill: #2196f3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 60px;
}

.main-nav .link {
  text-decoration: none;
}

.menu-container {
  background-color: white;
  font-weight: 500;
  letter-spacing: 00.02em;
  z-index: 1;
}

.menu-container .site-nav .link {
  color: #212121;
}

.menu-container .contacts .link {
  color: #757575;
}

.menu-container .contacts .link .icon-tel,
.menu-container .contacts .link .icon-mail {
  fill: #757575;
}

.menu-container .item:hover .link,
.menu-container .item:focus .link,
.menu-container .item:hover .mail,
.menu-container .item:hover .tel,
.menu-container .item:focus .mail,
.menu-container .item:focus .tel {
  color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding: 48px 40px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container .site-nav .link {
    line-height: 1.14;
    min-height: 60px;
  }
  .menu-container .contacts .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-container .icon-tel, .menu-container .icon-mail {
    margin-right: 8px;
  }
  .menu-container .site-nav.list {
    margin-bottom: 302px;
  }
  .menu-container .site-nav .link {
    font-size: 40px;
  }
  .menu-container .site-nav .item + .item {
    margin-top: 32px;
  }
  .menu-container .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .menu-container .contacts .item + .item {
    margin-bottom: 32px;
  }
  .menu-container .contacts .mail {
    font-size: 24px;
  }
  .menu-container .contacts .tel {
    font-size: 34px;
  }
  .menu-container .contacts .icon-mail, .menu-container .contacts .icon-tel {
    display: none;
  }
  .menu-container .social .link {
    font-size: 18px;
    line-height: 1.22;
    color: #2196f3;
  }
  .menu-container .social .item + .item {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-container .social.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .main-nav .contacts {
    margin-top: 21px;
    font-size: 12px;
  }
  .main-nav .contacts .item + .item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav .social {
    display: none;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .main-nav .logo {
    margin-right: 88px;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .site-nav .link {
    display: block;
    position: relative;
    min-height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link.current:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .item + .item {
    margin-left: 30px;
  }
}

.hero-title {
  padding-top: 118px;
  padding-bottom: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    padding-top: 200px;
  }
}

.hero-text {
  margin: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero .overlay {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/hero/hero-480.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero/hero-480.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .overlay {
    background-image: url("../images/hero/hero-960-@2x.jpg");
  }
}

.hero .button {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media screen and (min-width: 481px) {
  .hero .overlay {
    background-image: url("../images/hero/hero-768.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero .overlay {
    background-image: url("../images/hero/hero-1536-@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero .overlay {
    background-image: url("../images/hero/hero-1600.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero .overlay {
    background-image: url("../images/hero/hero-3200-@2x.jpg");
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.decision {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .decision .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.decision .item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .decision .item {
    width: calc((100% - 2 * 30px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .decision .item {
    width: calc((100% - 4 * 30px)/4);
  }
}

.decision-icon {
  height: 70px;
  width: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #212121;
}

.decision .title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.decision .title .text {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
}

.decision .text {
  line-height: 1.7;
}

.background-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .section.work {
    display: none;
  }
}

.section.work.work .picture {
  margin-bottom: 0;
}

.section.work.work .item {
  position: relative;
}

.section.work.work .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section.work.work .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list > li {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(161, 83, 83, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(161, 83, 83, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  max-width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    max-width: 270px;
    margin-bottom: 0;
  }
}

.team-photo {
  margin-bottom: 30px;
}

.team-names {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .social-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.partners .list {
  margin: -15px;
}

.partners .item {
  margin: 15px;
}

@media screen and (max-width: 480px) {
  .partners .item {
    width: 210px;
  }
}

@media screen and (min-width: 480px) {
  .partners .item {
    width: calc((100% - 2 * 30px)/2);
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .partners .item {
    width: calc((100% - 3 * 30px)/3);
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partners .item {
    width: calc((100% - 6 * 30px)/6);
    width: 170px;
  }
}

.partners .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 4px;
  height: 90px;
  width: 100%;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners .link:hover,
.partners .link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7.5px;
}

.filter {
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 34px;
  }
}

.filter-list .item {
  margin: 7.5px;
}

.filter:hover, .filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  cursor: pointer;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.card-set .item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .card-set .item {
    width: 100%;
    width: calc((100% - 2 * 30px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .card-set .item {
    width: 100%;
    width: calc((100% - 3 * 30px)/3);
  }
}

.card-set .link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.card-set .thumb {
  position: relative;
  overflow: hidden;
}

.card-set .thumb:hover::before,
.card-set .thumb:focus::before {
  opacity: 1;
}

.card-set .link:hover,
.card-set .link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set .link:hover .card-overlay,
.card-set .link:focus .card-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-description {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.project-name {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer .footer-adress {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer .footer-links {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  text-decoration: none;
}

.footer .title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-form-field input {
  width: 450px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
}

.footer-form-field input[placeholder='E-mail'] {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer-1-block, .footer-2-block {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-adress,
  .footer-links .item + .item {
    margin-bottom: 8px;
  }
  .footer .title {
    text-align: center;
  }
  .footer-2-block .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-3-block {
    text-align: center;
  }
  .footer-form-field input {
    margin-bottom: 20px;
  }
  .footer-3-block .button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-3-block {
    text-align: center;
  }
  .footer-form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-1-block {
    margin-right: 70px;
  }
  .footer-position {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .footer .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .footer-adress, .footer-links {
    margin-bottom: 9px;
  }
  .footer-form-field input {
    width: 358px;
    margin-right: 12px;
  }
}

.logo {
  margin-top: 16px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

.logo-studio.inverted {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.button.modal-open {
  padding-right: 32px;
  padding-left: 32px;
}

.button.modal-submit {
  padding-right: 56px;
  padding-left: 56px;
  margin: 0 auto;
}

.button.submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 29px;
  padding-left: 29px;
}

.button:hover, .button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  margin: 0 auto 12px auto;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-window-form {
  padding: 0 40px 40px 40px;
}

.close-button {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  color: #2196f3;
}

.form-field-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-position {
  position: relative;
}

.field {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:last-child {
  margin-bottom: 30px;
}

.field .text {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.field input {
  padding: 11px 12px 11px 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.field textarea::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field textarea:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field textarea::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field textarea {
  display: block;
  padding: 12px 16px 12px 16px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.field:focus-within input,
.field:focus-within .input-svg-properties,
.field:hover input,
.field:hover .input-svg-properties {
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.input-svg-properties {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  height: 18px;
  width: 18px;
  margin-left: 12px;
}

.conditions {
  font-size: 12px;
  color: #757575;
}

.conditions-link {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .conditions {
    line-height: 1.7;
  }
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox-icon::before {
  background-image: url(../images/check.svg);
}

.checkbox-icon::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/square.svg);
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.checkbox-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-list .list {
  margin-right: 10px;
}

.social-list .list:last-child {
  margin-right: 0px;
}

.icon-social {
  height: 20px;
  width: 20px;
}

.team .link-social {
  fill: #afb1b8;
}

.footer .link-social {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.link-social:hover,
.link-social:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
/*# sourceMappingURL=main.css.map */