.footer {
    background-color: $accent-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer {
    outline: 1px solid red;
}
.footer-1-block {
    outline: 1px solid green;
}
.footer-2-block {
    outline: 1px solid blue;
}
.footer-3-block {
    outline: 1px solid yellow;
}
.footer-position {
    outline: 1px solid pink;
}

@media screen and (max-width: 1199px){
        .footer-1-block {
            text-align: center
        }
        .footer-2-block {
            text-align: center
        }
        .footer-3-block {
            text-align: center
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .footer-position {
        display: flex;
        flex-direction: row;
    }
    .footer-3-block {
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
    .footer-position {
        display: inline-flex;
    }
    .footer-3-block {
        display: inline-flex;
    }
}