.footer {
    background-color: $accent-bg-color;
    min-width: 320px;

    padding-top: 60px;
    padding-bottom: 60px;

    .logo {
        display: block;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .footer-adress {
        color: $secondary-text-color;
        font-size: 14px;
        line-height: 1.7;
        font-style: normal;
    }
    .footer-links {
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.7;
        text-decoration: none;
        transition: $function-time $function-cubic;
        &:hover {
            color: $accent-color;
        }
    }
    .title {
        margin-top: 0;
        margin-bottom: 20px;

        font-weight: $font-weight-bold;
        line-height: 1.14;
        color: $secondary-text-color;
        text-transform: uppercase;
    }
}
.footer-form-field input {
    max-width: 450px;
    width: 100%;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: $accent-bg-color;
}
.footer-form-field input[placeholder='E-mail'] {
    font-size: $font-size-secondary;
    line-height: 1.25;
    letter-spacing: $font-height-placeholder;
    color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px){
    .footer-1-block, .footer-2-block {
        text-align: center;
        margin-bottom: 60px;
    }
    .footer-adress,
    .footer-links .item + .item {
        margin-bottom: 8px;
    }
    .footer .title {
        text-align: center;
    }
    .footer-2-block .social-list {
        justify-content: center;
    }
    .footer-3-block {
        text-align: center
    }
    .footer-form-field input {
        margin-bottom: 20px;
    }
    .footer-3-block .button {
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .footer-position {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
    .footer-3-block {
        text-align: center;
    }
    .footer-form-field {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1200px) {
    .footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-1-block {
        margin-right: 70px;
    }
    .footer-position {
        display: inline-flex;
    }
    .footer .logo {
        font-size: 26px;
        line-height: 1.19;
    }
    .footer-adress, .footer-links {
        margin-bottom: 9px;
    }
    .footer-form-field input {
        width: 358px;
        margin-right: 12px;
    }
}