.footer {
    background-color: $accent-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;

    & .container {

        @media screen and (min-width: $width-tablet) {
            .footer-position {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .footer-1-block, .footer-2-block {
                display: block;
            }
        }
        @media screen and (min-width: $width-desktop) {
            display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
            // align-items: baseline;
            // flex-wrap: nowrap;
        }
    }
}