.footer-first-block {
  margin-right: 70px;
  & li {
      margin-top: 0px;
      margin-bottom: 9px;
  }
  & li:last-child {
      margin-bottom: 0px;
  }
  & .logo {
      margin-top: 0px;
      margin-bottom: 20px;
  }
}
.footer {
&-studio {
    color: $secondary-text-color;
}
&-adress {
    margin-top: 0px;
    margin-bottom: 9px;
    color: $secondary-text-color;
    line-height: $font-height-secondaty;
    font-style: normal;
}
&-links {
    color: rgba(255, 255, 255, 0.6);
    line-height: $font-height-secondaty;
    text-decoration: none;
}
}