.footer-3-block {
    outline: 1px solid red;
}

.footer-3-block .title {
    margin-top: 0;
    margin-bottom: 20;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 00.003em;

    text-align: center;
    color: $secondary-text-color;
    text-transform: uppercase;
}
  .footer-form-field {
    & input {
        width: 100%;
        padding: 15px 16px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: $accent-bg-color;

        @media screen and (min-width: $width-tablet) {
        width: 450px;
        }

        @media screen and (min-width: $width-desktop) {
        margin-right: 12px;
        margin-bottom: 0;
        width: 358px;
        }
    }
    & input[placeholder='E-mail'] {
      font-size: $font-size-secondary;
      line-height: 1.25;
      letter-spacing: $font-height-placeholder;
      color: rgba(255, 255, 255, 0.6);
    }
  }