.footer-2-block {
    outline: 1px solid yellow;
    margin-bottom: 60px;

    & .social-list {
        justify-content: center;

        outline: 1px solid red;

}
}

.footer-2-block .title {
    margin-top: 0;
    margin-bottom: 20;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 00.003em;

    outline: 1px solid pink;

    text-align: center;
    color: $secondary-text-color;
    text-transform: uppercase;
  }

