.footer-mailing {
    margin-left: auto;
  }
  .footer-form-field {
    & input[type='email'] {
      width: 358px;
      margin-right: 12px;
      padding: 15px 16px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: $accent-bg-color;
    }
    & input[placeholder='E-mail'] {
      font-size: $font-size-secondary;
      line-height: 1.25;
      letter-spacing: $font-height-placeholder;
      color: rgba(255, 255, 255, 0.6);
    }
  }