.page-header {
    position: relative;
}
// buttons
.main-nav {
    &-button {
        margin-left: auto;
        border: 1px solid transparent;
        background-color: transparent;
        transition: $function-time $function-cubic;
        cursor: pointer;
        z-index: 2;
        justify-content: center;

        @media screen and (min-width: $width-tablet) {
            display: none;
        }
    }
    &-button .icon-cross {
        display: none;
    }
    &-button.is-open .icon-cross {
        display: block;
    }
    &-button.is-open .icon-hamburger {
        display: none;
    }
    &-button:hover,
    &-button:focus {
        fill: $accent-color;
    }
}

//базовые свойства
.main-nav {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 60px;   
    & .link {
        text-decoration: none;
    }
}
.menu-container {
    background-color: $primary-bg-color;
    font-weight: $font-weight-medium;
    letter-spacing: 00.02em;
    z-index: 1;
    & .site-nav .link {
        color: #212121;
    }
    .icon-tel, .icon-mail {
        margin-right: 8px;
    }
    & .contacts .link {
        color: #757575;
        .icon-tel, 
        .icon-mail {
            fill: #757575;
        }
    }
    & .item:hover .link,
    & .item:focus .link,
    & .item:hover .mail,
    & .item:hover .tel,
    & .item:focus .mail,
    & .item:focus .tel {
        color: $accent-color;
        fill: $accent-color;
        cursor: pointer;
    }
}

//разные медиа свойства
@media screen and (max-width: 767px) {
    .menu-container {
        padding: 48px 40px;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        &.is-open {
            display: block;
        }
        & .site-nav .link {
            line-height: 1.14;
            min-height: 60px;
        }
        & .contacts .link {
            display: flex;
        }
        // .icon-tel, .icon-mail {
        //     margin-right: 8px;
        // }
        .site-nav {
            &.list {
               margin-bottom: 302px;
            }
            & .link {
                font-size: 40px;
            }
            & .item + .item {
                margin-top: 32px;
            }
        }
        .contacts {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 64px;
    
            .item + .item {
                margin-bottom: 32px;
            }
            & .mail {
                font-size: 24px;
            }
            & .tel {
                font-size: 34px;
            }
            .icon-mail, .icon-tel {
            display: none;
        } 
    }
        .social {
            & .link {
                font-size: $font-size-tertiary;
                line-height: 1.22;
                color: $accent-color;
            }
            & .item + .item {
                padding-left: 10px;
                margin-left: 10px;
                border-left: 1px solid 
                rgba(33, 33, 33, 0.2);
            }
            &.list {
                display: flex;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .main-nav .contacts {
        margin-top: 21px;
        font-size: 12px;
    }
    .main-nav .contacts .item + .item {
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) {
    .main-nav .social {
        display: none;
    }
    .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    }
    .main-nav .logo {
        margin-right: 88px;
    }
    .site-nav {
        display: flex;
        position: relative;
        & .item + .item {
            margin-left: 50px;      
        }
        & .link {
            display: block;
            position: relative;
            min-height: 80px;
            justify-content: center;
            font-size: 12px;
            padding-top: 32px;
            padding-bottom: 32px;
            transition: $function-time $function-cubic;  
        }
        & .link.current:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $accent-color;
            color: $accent-color;
        }
    }
}
@media screen and (min-width: 1200px) {
    .contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item + .item {
            margin-left: 30px;
        }
    }
}
