.page-header {
    position: relative;
}
.main-nav {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 60px;

    .site-nav.list {
        background-color: rgb(206, 235, 206);
        padding: 48px 40px 0 48px;
    }
    .contacts.list {
        background-color: rgb(243, 212, 228);
    }
    .social.list {
        background-color: rgb(218, 238, 237);
    }
    .link {
        text-decoration: none;
    }
    .site-nav .link {
        font-size: 40px;
        line-height: 1.175;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #212121;
    }
    .contacts {
        // display: flex;
        // flex-direction: column-reverse;
        padding: 0 40px;    
    }
    .contacts .mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: #757575;
    }
    .contacts .tel {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: #757575;
    }
    .social .link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
    }
    .social.list {
        display: flex;
        padding: 0 0 48 40;
    }
    .site-nav .item + .item,
    .contacts .item + .item {
        margin-top: 32px;
    }
}

.main-nav {
    &-button {
        margin-left: auto;
        border: 1px solid transparent;
        background-color: transparent;
        transition: $function-time $function-cubic;
        cursor: pointer;

        @media screen and (min-width: $width-tablet) {
            display: none;
        }
    }
    &-button .icon-cross {
        display: none;
    }
    &-button.is-open .icon-cross {
        display: block;
    }
    &-button.is-open .icon-hamburger {
        display: none;
    }
    &-button:hover {
        fill: $accent-color;
    }

}

@media screen and (max-width: 767px) {
    .menu-container {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
    .menu-container.is-open {
      display: block;
    }
    .icon-mail, .icon-tel {
        display: none;
    } 
}

@media screen and (min-width: $width-tablet) {
    .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    }
  }