.hero {
  &-title {
    padding-top: 118px;
    padding-bottom: 30px;
  }
  &-text {
    margin: 0;
    color: $secondary-text-color;
    font-weight: $font-weight-black;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: $font-spacing-accent;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: $width-desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  & .overlay {
    max-width: 1600px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)),
        url('../images/hero/hero-480.jpg');
    background-color: $hero-bg-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
            background-image: url('../images/hero/hero-960-@2x.jpg')
    }
  }
  .button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 481px) {
  .hero .overlay {
    background-image: url('../images/hero/hero-768.jpg')
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero .overlay {
      background-image: url('../images/hero/hero-1536-@2x.jpg');
    }
  }
}
@media screen and (min-width: 769px) {
  .hero .overlay {
    background-image: url('../images/hero/hero-1600.jpg');
}

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero .overlay {
      background-image: url('../images/hero/hero-3200-@2x.jpg');
    }
  }
}

@media screen and (min-width: $width-desktop) {
  .overlay {
  height: 600px;
}
  .hero .title {
    padding-top: 200px;
  }
}