.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
.decision {
  padding-bottom: 0;
  & .list {
        @extend %list;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
  }
  & .item {
    margin: 15px;
      @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px)/2);
      }
      @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px)/4);
      }
  }
  &-icon {
      height: 70px;
      width: 70px;
      justify-content: center;
      fill: $title-text-color;
  }
  & .title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;

    color: $title-text-color;
    font-weight: $font-weight-bold;
    line-height: 1.14;
    text-transform: uppercase;

    & .text {
      margin-top: 0px;
      margin-bottom: 0px;

      line-height: 1.7;
    }
    }
  & .text {
    line-height: 1.7;
  }
} 
.background-picture {
  @include centeredFlex ();
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: $secondary-bg-color;
  
    border-radius: 4px;
}