.hero {
    &-title {
      padding-top: 118px;
      padding-bottom: 30px;
      margin: 0 auto;
    //   width: 696px;
      @media screen and (min-width: $width-desktop) {
        padding-top: 200px;
      }
    }
    &-text {
      margin: 0;
      color: $secondary-text-color;
      font-weight: $font-weight-black;
      font-size: 26px;
      line-height: 1.6;
      letter-spacing: $font-spacing-accent;
      text-transform: uppercase;
      text-align: center;

      @media screen and (min-width: $width-desktop) {
        font-size: 44px;
        line-height: 1.36;
      }
    }
    & .overlay {
      max-width: 1600px;
      height: 400px;
      margin: 0 auto;
      background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
          ),
          url('../images/bg-photo.jpg');
      background-color: $hero-bg-color;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .button {
        margin: 0 auto;
      }

      @media screen and (min-width: $width-desktop) {
        height: 600px;
      }
    }
  }  
