.main-nav {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}
.site-nav {
    display: flex;
    position: relative;
    & .item + .item {
        margin-left: 50px;      
    }
    & .link {
        display: block;
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $title-text-color;
        transition: $function-time $function-cubic;  
        @extend %header-link;
    }
    & .link:hover,
    & .link:focus {
        color: $accent-color;
        cursor: pointer;
    }
    & .link.current:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        color: $accent-color;
    }
}