.logo {
    margin-top: 16px;
    text-decoration: none;

    font-family: $font-family-logo;
    font-weight: $font-weight-bold;
    font-size: 24px;

    &-web {
        color: $accent-color;
    }
    &-studio {
      color: $title-text-color;
    }
    &-studio.inverted {
      filter: invert(100%);
    }

    @media screen and (min-width: $width-tablet) {
      margin-top: 26px;
    }

    @media screen and (min-width: $width-desktop) {
      margin-top: 24px;
      font-size: 26px;
      line-height: 1.19;
    }
  }
