$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #c4c4c4;
$accent-bg-color: #2f303a;
$border-header: #ececec;
$border-partners: #afb1b8;

$icon-white: #ffffff;
$icon-grey: #afb1b8;
$portfolio-border: #eeeeee;

$function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$function-time: 250ms;

$font-family-basic: Roboto, sans-serif;
$font-family-logo: Raleway, sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-basic: 14px;
$font-size-secondary: 16px;
$font-size-tertiary: 18px;

$font-size-logo: 26px;
$font-size-hero: 44px;

$font-size-title: 36px;
$font-size-field: 12px;
$font-size-modal: 20px;

$font-spacing-basic: 00.03em;
$font-spacing-nav: 00.02em;
$font-spacing-field: 00.01em;
$font-spacing-accent: 00.06em;

$font-height-basic: 1.17;
$font-height-button: 1.8;
$font-height-secondaty: 1.7;
$font-height-tertiary: 2;
$font-height-hero: 1.36;
$font-height-overlay: 1.56;
$font-height-placeholder: 1.25;
$font-height-filter: 1.63;
